*{
	color: #fff;
}
.topnav{
	margin-right: 200px;
}
.navbar-header{
	margin-left:200px;
}
.page1{
	padding-top: 200px;
}
.photo{
	width: 200px;
	height: 260px;
	border-radius: 100px;
	background-image: url("../img/photo.jpg");
	background-size: cover;
	margin: 0 auto;
	display: none;
}
.introduce{
	width: 300px;
	height: 200px;
	margin: 50px auto;
	display: none;
}
.introduce span{
	display: block;
	width: 300px;
	font-size: 25px;
	text-align: center;
	line-height: 20px;
}
.page2,.page3,.page4,.page5{
	padding-top: 150px;
}
.page2 h1{
	height: 50px;
	width: 300px;
	font-size: 50px;
	margin:0 auto;
	margin-bottom: 100px;
}
.list{
	height: 250px;
	display: none;
}
.row{
	margin-top: 50px;
}
.list img{
	margin: 0 auto;
	display: block;
	width: 64px;
	transition:transform 1s;
}
.list p{
	font-size: 25px;
	line-height: 25px;
	text-align: center;
	margin-top: 20px;
}
.list img:hover{
	transform: rotate(360deg);
}
.page3 .page4{
	padding-top: 150px;
}
.page3 h1,.page4 h1{
	width: 200px;
	font-size: 50px;
	margin:0 auto;
	margin-bottom: 100px;
}
.skill{
	height: 500px;
	text-align: center;
	margin-top: 100px;
}
.skill img:hover{
	opacity: 0.6;
}
.skill img{
	display: none
}
.sum{
	margin: 0 auto;
	font-size: 25px;
	width: 1000px;
	display: none;
}
.drop{
	font-size: 25px;
	line-height: 40px;
	margin-top: 60px;
	display: none;
}
.lunbo{
	width: 1000px;
	height: 400px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.lunbopic img{
	position: absolute;
}
.lunbo div{
	bottom: 0;
	overflow: hidden;
	position: absolute;
	float: left;
}
.lunbo div a{
	display: inline-block;
	float: left;
	height: 32px;
	width: 333px;
	background-color:transparent;
	text-align: center;
	font-size: 20px;
	text-decoration: none;
}
#list:last-child{
	border-right: 1px solid transparent;
}
.github{
	width: 136px;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
.github a{
	text-decoration: none;
	color: #000;

}
.page5 h1{
	width: 100px;
	margin: 0 auto;
	font-size: 50px;
	margin-bottom: 100px;
}
.page5 p{
	margin-top: 50px;
	width: 700px;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;

}
.contactme{
	margin-top: 100px;
	width: 700px;
	height: 300px;
	overflow: hidden;
}
.contactme input{
	margin-right: 20px;
	width: 200px;
	height: 40px;
	font-size: 20px;
	background-color: transparent;
	color: #fff;
	border:1px #fff solid;
	outline:none
}
.contactme textarea{
	margin-top: 25px;
	width: 650px;
	height: 100px;
	font-size: 20px;
	background-color: transparent;
	color: #fff;
	border:1px #fff solid;
	outline:none
}
#btn{
	margin-top: 50px;
	transition: background-color 1s;
}
#btn:hover{
	background-color: #1dd2af;
}